footer {
    
}
#footer-container {
    color:lightseagreen;
    width:100%;
    display:flex;
    flex-direction:column;
    height: 10vh;
}
#footer-container address{
    display:flex;
    justify-content:space-around;
    width:100%;
}
