header{
    display: flex;
    width:100%;
    /* flex-direction:column; */
    top: 0;
    background-color:#F0FFFF ;
}
header nav{
    display:flex;
    justify-content:space-around;
    width:70%;
    align-items:center;
    padding:10px;
    /* background-color:white;
    border-top: 1px dashed lightseagreen;
    border-bottom: 1px dashed lightseagreen; */
}

header h1{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start; 
    padding-left:20px;
    height:50px; 
    font-size:3rem;
    margin:20px;
}

nav a:hover{
    font-weight:bold;
}

