header{
    display: flex;
    width:100%;
    top: 0;
    background-color:#F0FFFF ;
}
header nav{
    display:flex;
    justify-content:space-around;
    width:70%;
    align-items:center;
    padding:10px;
}

header h1{
    width:30%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start; 
    padding-left:20px;
    font-size:3rem;
    margin:20px;
}

nav a:hover{
    font-weight:bold;
}

#logout-style{
    color:#F0FFFF ;
    background-color: lightseagreen;
    width:60%;
    margin-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 20px;
}

